<link rel="stylesheet" href="/styles/common.css">

<header class="header-bar">
    {{#if showBreadcrumb}}
    <div class="breadcrumb">
        <a href="/welcome">Trang chủ</a>
        {{#if breadcrumbText}}> {{breadcrumbText}} {{/if}}
        {{#if breadcrumbText2}}> {{breadcrumbText2}} {{/if}}
    </div>
    {{/if}}
    <div class="header-icons">
        <i class="fa fa-cog"></i>
        <i class="fa fa-user"></i>
        <a href="/logout" class="logout-btn"><i class="fa fa-sign-out"></i></a>
    </div>
</header>