<div class="container">
    <h1>Contact Administrator</h1>
    <p>Please contact the system administrator for password recovery assistance.</p>
    <a href="/" class="btn-back">Back to Login</a>
</div>
