<div class="error-container">
    <h1>Lỗi</h1>
    <div class="error-message">
        <p>{{message}}</p>
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
    </div>
    <a href="/" class="btn-back">Quay lại trang đăng nhập</a>
</div>
