<div class="error-container">
    <div class="error-message">
        <div class="main-error">
            <p class="error-text">Lỗi!</p>
            <p class="error-paragraph">{{message}}</p>
            {{#if error}}
            <p>{{error}}</p>
            {{/if}}
        </div>
        <a href="/welcome" class="btn-back">Quay lại trang chủ</a>
    </div>
</div>