<link rel="stylesheet" href="/styles/MH_TrangChu.css">

<div class="welcome-container">
    {{> header}}

    <h1 class="welcome-message">Xin chào nhân viên {{user.ROLE}}.</h1>

    <div class="action-buttons">
        {{#if (eq user.ROLE "Phát hành")}}
        <a href="/phat-hanh-phieu-du-thi" class="action-button">
            Phát hành phiếu dự thi
        </a>
        {{/if}}

        {{#if (eq user.ROLE "Tiếp nhận")}}
        <a href="/Xu-Ly-Cap-Chung-Chi" class="action-button">
            Xử lý trao chứng chỉ
        </a>
        {{/if}}

        {{#if (eq user.ROLE "Kế toán")}}
        <a href="/quan-ly-thanh-toan" class="action-button">
            Quản lý thanh toán
        </a>
        {{/if}}

        {{#if (eq user.ROLE "Nhập liệu")}}
        <a href="/nhap-du-lieu-thi-sinh" class="action-button">
            Nhập dữ liệu thí sinh
        </a>
        {{/if}}

        {{#if (eq user.ROLE "Coi thi")}}
        <a href="/quan-ly-ca-thi" class="action-button">
            Quản lý ca thi
        </a>
        {{/if}}
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    class MH_TrangChu {
        constructor() {
            this.init();
        }
        
        init() {
            const phatHanhBtn = document.getElementById('phatHanhPhieuDuThi');
            if (phatHanhBtn) {
                phatHanhBtn.addEventListener('click', this.PhatHanhPhieuDuThi_Click.bind(this));
            }
            
            this.MH_TrangChu_Load();
        }
        
        PhatHanhPhieuDuThi_Click(event) {
            console.log('Redirecting to exam ticket issuance screen');
        }
        
        MH_TrangChu_Load() {
            console.log('Home screen loaded');
        }
    }
    
    const trangChu = new MH_TrangChu();
});
</script>
