<link rel="stylesheet" href="/styles/MH_XuLyCapChungChi_LoaiKH.css">

<div class="header-bar">
    <div class="breadcrumb">
        <a href="/welcome">Trang chủ</a> &gt; Xử lý cấp chứng chỉ
    </div>
    <div class="header-icons">
        <i class="fa fa-cog"></i>
        <i class="fa fa-user"></i>
        <i class="fa fa-sign-out"></i>
    </div>
</div>

<div class="main-content">
    <h1 class="page-title">Xử lý cấp chứng chỉ</h1>
    <p class="page-subtitle">Chọn đối tượng cấp chứng chỉ</p>

    <div class="button-container">
        <form action="/cap-chung-chi/tu-do" method="get">
            <button class="action-button">Khách hàng tự do</button>
        </form>
        <form action="/cap-chung-chi/don-vi" method="get">
            <button class="action-button">Khách hàng đơn vị</button>
        </form>
    </div>
</div>
